/*
Theme:  AccorHotels.cn
Author: Matchbyte Consultants Pty Ltd
-------------------------------------------------------------- */

/* =Overall
-------------------------------------------------------------- */
*{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html, body{ height: auto !important; min-height: 100%; }
body { overflow-x: hidden; font-family: Helvetica, Arial, "Î¢ÈíÑÅºÚ", "Microsoft Yahei", "»ªÎÄºÚÌå", STHeiti, sans-serif; }



/* =Header
-------------------------------------------------------------- */


/* =Footer
-------------------------------------------------------------- */


/* =Main
-------------------------------------------------------------- */


/* =Aside (Booking Summary)
-------------------------------------------------------------- */


/* =Section (Content)
-------------------------------------------------------------- */